@font-face {
  font-family: "iconfont"; /* Project id 3315620 */
  src: url('iconfont.woff2?t=1649503936448') format('woff2'),
       url('iconfont.woff?t=1649503936448') format('woff'),
       url('iconfont.ttf?t=1649503936448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-jianhao_o:before {
  content: "\eb79";
}

